
.titulo {
text-align:center;
color: #4b4b9c;
font-size: 40px;
margin-top: 20px;

}


p{
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: -10px;
    
}

.titanic{
    text-align:center;
    font-size: 22px;
    color: #d10057;
    margin-bottom: -3px;
  
}

.titanic-img {        
  width: 200px;      
  height: 300px;
  border-radius: 5px;  
  margin-top: 25px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

/*dirty*/

.dirty{
   text-align: center;
   color: #d10057;
   font-size: 22px;
  
} 

.dirty-img{   
  width: 200px;  
  height: 300px;      
  border-radius: 5px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}


/*ghost*/

.ghost{
 text-align:center;
 color: #d10057;
 font-size: 22px;
}

.ghost-img{           
  width: 200px;      
  height: 300px; 
  border-radius: 5px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5)); /*sombra */
}


/*o guarda-costas*/

.guarda-costas{
  text-align:center;
  color: #d10057;
  font-size: 22px;
  margin-bottom: -3px; /* titanic um pouco mais encostado na foto */
}


.guardacostas-img{     
  width:200px;  
  height: 300px;      
  margin-top: 25px;
  border-radius: 5px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}


/* botao */
.botao-trailer{           
  width: fit-content;        
  margin: 20px;    
  padding: 8px 16px;         
  background-color: #1e3d59; /* Cor de fundo (azul escuro) */
  color: white;              
  text-decoration: none;     
  border-radius: 6px;        
  font-weight: bold;
   

  }

/*div */

.filmes-container { /* div - container - blocos */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -30px; /*estava muito colada na margem horizontal */
  

}

.filme {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: -40px; /*estava muito colada na margem vertical */
  
  
}
 
body{
  background-color: #fdd8e5;
   overflow: hidden;

}

@media screen and (max-width: 600px) {
  img {
    width: 90%;
    height: auto;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  ul, ol {
    max-width: 90%;
    padding: 15px;
  }

  body {
    padding: 10px;
  }
}






